.fileDrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);    
}

.fileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.fileContainerTitle {
    font-weight: bold;
}